[submodule "rasa-sdk"]
	path = rasa-sdk
	url = https://github.com/RasaHQ/rasa-sdk
	branch = master
[submodule "rasa"]
	path = rasa
	url = https://github.com/btotharye/rasa
	branch = mattermost_botacct
